<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1 class="brandName">MY FAVORITE PRODUCTS</h1>
    <p class="showcase">Create a visual list of your favorite products!</p>
      <div class="container">
        <div class="row justify-content-around">
          <% for (let i = 0; i < brands.length; i ++) { %>
          <div class="col-6">
            <h3 class="brandIndexName"><%=brands[i].name%></h3>
            <a href="/brands/<%=brands[i].id%>"><img class="prodImg img-fluid" src="<%=brands[i].image%>"></a>
            <h5><%=brands[i].description%></h5>
            <a class="editBtn" href="/brands/<%=brands[i].id; %>/edit">Edit Product</a>
          </div>
          <% } %>
        </div>

      </div>





      <h2><a class="newBrandBtn" href="/Brands/new">Add Another Product</a></h2>
  </body>
</html>
