<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1 class="brandName">Affiliate</h1>
    <p>Showcase your favorite products with your friends. Earn a piece of the pie when your friends use your referral codes and reward your friends by using theirs.</p>
    <h2>My Brands</h2>
    <% for (let i = 0; i < brands.length; i ++) { %>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3><%=brands[i].name%></h3>
            <a href="/brands/<%=brands[i].id%>"><img src="<%=brands[i].image%>"></a>
            <h5><%=brands[i].description%></h5>
            <a href="/brands/<%=brands[i].id; %>/edit">Edit</a>
          </div>
          <div class="col-sm">
            <h3><%=brands[i].name%></h3>
            <a href="/brands/<%=brands[i].id%>"><img src="<%=brands[i].image%>"></a>
            <h5><%=brands[i].description%></h5>
            <a href="/brands/<%=brands[i].id; %>/edit">Edit</a>
          </div>
        </div>
      </div>
    <% } %>




      <h2><a href="/Brands/new">Add Another Brand</a></h2>
  </body>
</html>
